h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("./image4.jpeg");
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

section.brushes h2 {
    background-color: mediumspringgreen;
}

section.frames h2 {
    background-color: lightcoral;
}

section.paint h2 {
    background-color: skyblue;
}

p {
    font-family: Helvetica;
}

span {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}